<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Space Conquest - About</title>
        <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
        <link href="css/style.css" rel="stylesheet" type="text/css">
          <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    </head>

    <body>
        <nav>
            <div class="nav-wrapper indigo darken-4">
              <a href="/home" class="brand-logo">Space Conquest</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/starscope">Starscope</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="/workshop">Workshop</a></li>
                <li><a href="/about">About</a></li>
                <li>Energy: <%=session[:energy]%></li>
              </ul>
            </div>
        </nav>
        
        <h1>About</h1>
        <font color=white>
        <p>Welcome to Space Conquest!</p>
        <p>This is an exploration game. Your goal is to upgrade your rocket so you can explore every planet!</p>
        <br>
        <h4>Home</h4>
        <p>Press the sleep to restore your energy and take a look at what resources the planet you are on has. (Note: The lower the oxygen, the faster your energy will deplete!)</p>
        <br>
        <h4>Starscope</h4>
        <p>Look at a list of all the available planets. They are randomly generated! Check the Workshop to see what tier you can access.</p>
        <br>
        <h4>Resources</h4>
        <p>Gather wood, clay, iron, and crystals! Chopping wood takes energy; digging clay takes energy and wood; mining iron takes energy and clay; searching for crystals takes energy, clay, and iron (there are no crystals on earth).</p>
        <br>
        <h4>Workshop</h4>
        <p>Craft new rockets to allow you to reach planets in higher tiers!.</p>
        <br>
    </body>


</html>